.App-header {
    background-color:red;
        .App-logo {
            background-color: green;
        }
        p {
            color:yellow;
        }
        .App-link {
            color: gray;
        }
}